.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

table {
    width: 100%;
}

tr,td {
   text-align: center;
   vertical-align: middle;
}

form{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}